<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<style>

td {
  border: 1pt solid gray;
}
</style>

<title></title>
</head>

<body>
<h1>FOO</h1>

<form action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>

<table>
  <tr>
    <td>shared_code</td>
    <td>org_code</td>
    <td>description</td>
    <td>quantity</td>
    <td>unit_of_measure</td>
    <td>organization.name</td>
    <td>status</td>
    <td>country</td>
  </tr>

{% for item in filter %}
  <tr>
    <td>{{ item.shared_code }}</td>
    <td>{{ item.org_code }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.unit_of_measure }}</td>
    <td>{{ item.organization.name }}</td>
    <td>{{ item.status }}</td>
    <td>{{ item.country.code }}</td>
  </tr>
{% endfor %}
</table>

<hr>
<address></address>
</body> </html>
